/* Proprietà generali */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-weight: 500;
  font-family: 'Hind Siliguri', sans-serif;
}
ul{
  list-style-type: none;
}
a{
  text-decoration: none;
}

/* Colori testo*/
.white-text{
  color: white;
}
.grey-text{
  color: grey;
}

/* Proprietà Header */
header nav{
  width: 250px;
  background-color: black;
  color: white;
  height: calc(100vh - 100px);
  position: fixed;
  z-index: 300;
  display: flex;
  flex-direction: column;
}
  /* Logo Spotify */
header #logo{
  width: 180px;
  display: inline-block;
  padding: 20px 0 20px 20px;
}
header #logo img{
  width: 100%;
}
header #logo img:last-child{
  display: none;
  width: 40px;
}
  /* Parte superiore nav */
header .nav-top{
  flex-grow: 1;
}

  /* Lista nav */
header li{
  padding: 5px 20px;
  border-left: 2px solid transparent;
}
header li a, .profilo a{
  color: white;
  font-weight: 600;
  opacity: 0.6;
}
  /* Link e link nav con banda verde */
header li.active{
  border-left: 2px solid #adff2f;
}
header li.active a{
  color: white;
  opacity: 0.9;
}
header li.active a:hover, header li a:hover, .profilo a:hover{
  opacity: 1;
}
header li img{
  height: 30px;
  vertical-align: middle;
  padding-right: 5px;
  padding-bottom: 2px;
}
header li i{
  font-size: 35px;
  margin-right: 5px;
  vertical-align: middle;
}

  /* Lista playlist */
header .playlist{
  margin-bottom: 0;
}
.play-name{
  overflow: auto;
}
  /* Sottolista nomi playlist */
.play-name li{
  padding: 5px 0;
}
  /* Sottolista che cambia altezza, con scroll */
@media all and (max-height: 750px) {
  header .play-name{
    height: 31vh;
  }
}
@media all and (max-height: 730px) {
  header .play-name{
    height: 28vh;
  }
}
@media all and (max-height: 700px) {
    header .play-name{
      height: 25vh;
    }
}
@media all and (max-height: 680px) {
    header .play-name{
      height: 22vh;
    }
}
@media all and (max-height: 650px) {
    header .play-name{
      height: 19vh;
    }
}

  /* parte inferiore nav (account e download) */
header .profilo{
  margin: 5px 20px 10px;
}
.profilo i{
  margin-right: 7px;
}

  /* Separatore orizzontale */
.separatore{
  border-top: 1px solid grey;
  margin: 8px 0 14px;
}

.profilo img{
  width: 25px;
  background-color: grey;
  border-radius: 12.5px;
  vertical-align: middle;
}

  /* Navbar SX che cambia a Ypx */
@media all and (max-width: 767px){
  header nav{
    width: 80px;
    align-items: center;
  }
  header #logo{
    width: 100%;
    padding-left: 17px;
  }
  header #logo img:last-child{
    display: inline-block;
  }
  .disappear, header #logo img:first-child, .playlist{
    display: none;
  }
  header li.active{
    border-left: 2px solid transparent;
  }
  .separatore{
    visibility: hidden;
  }
  header .profilo{
    margin-left: 0;
    margin-right: 0;
    text-align: center;
  }
  .profilo i{
    margin-right: 0;
  }
}

/* Proprietà Main */
main{
  padding: 100px 0 100px 250px;
  background-color: #141922;
  min-height: calc(100vh - 100px);
  overflow: hidden;
}

  /* Proprietà Upgrade */
.upgrade{
  background-color: rgba(0, 0, 0, 0.5);
  text-align: right;
  position: fixed;
  top: 0;
  left: 250px;
  width: calc(100% - 250px);
  min-height: 100px;
  overflow: hidden;
  z-index: 200;
}
.upgrade a{
  text-align: center;
  font-size: 20px;
  color: white;
  min-height: 50px;
  display: inline-block;
  border: 2px solid white;
  border-radius: 25px;
  padding: 7px 30px;
  margin: 25px 15px;
  transition: transform 0.2s;
}
.upgrade a:hover{
  transform: scale(1.05);
}

/* Main e upgrade che cambiano a Ypx */
@media all and (max-width: 767px){
  main{
    padding-left: 80px;
  }
  .upgrade{
    width: calc(100% - 80px);
    left: 80px;
  }
}

/* Proprietà barra nav main */
main .navigazione{
  text-align: center;
  margin: 25px 0 20px;
  font-weight: 600;
}
.navigazione li{
  display: inline-block;
  margin: 0 15px 5px;
}
.navigazione li a{
  color: white;
  opacity: 0.5;
}
.navigazione li a:hover{
  opacity: 1;
}
  /* Linea verde inferiore su link attivo */
.sep-orizzontale{
  border-top: 2px solid #adff2f;
  border-radius: 1px;
  margin: 0 auto;
  width: 40%;
  visibility: hidden;
}
.active .sep-orizzontale{
  visibility: visible;
}

  /* Proprietà brani */
main section{
  margin: 10px 20px;
  color: white;
}
  /* Lista brani flex*/
.flex-list{
  display: flex;
  flex-wrap: wrap;
  margin-right: -20px;
}

.brano{
  min-height: 200px;
  flex-basis: calc((100% / 6) - 20px);
  margin: 20px 20px 20px 0;
  text-align: center;
  position: relative;
}
  /* Brani che vanno a capo diversamente a Ypx */
  /* MD - 4pz */
@media all and (min-width: 992px) and (max-width: 1199px) {
  .brano{
    flex-basis: calc((100% / 4) - 20px);
  }
}
  /* SM/XS - 2pz */
@media all and (max-width: 991px){
  .brano{
    flex-basis: calc((100% / 2) - 20px);
  }
}

.brano img{
  max-width: 100%;
  transition: opacity 0.3s;
}

/* Overlay con icona su immagine brano */
.brano .play{
  position: relative;
}
.brano .play:hover img{
  opacity: 0.5;
}
.brano .play i{
  font-size: 60px;
  color: white;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s;
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.brano .play:hover i{
  visibility: visible;
  opacity: 1;
}
/* img artista tonda */
.flex-list.artista img{
  border-radius: 50%;
}

/* Proprietà footer */
footer{
  background-color: #282828;
  color: white;
  height: 100px;
  padding: 0 20px;
  position: fixed;
  z-index: 900;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Colonna SX footer */
.data{
  max-height: 60px;
  display: flex;
  align-items: center;
  flex-basis: 30%;
  min-width: 180px;
}
.data img{
  width: 60px;
}

  /* Lista brano */
.data .titoli{
  display: inline-block;
  margin: 0 10px 0 10px;
  min-width: 50px;
}
.titoli li{
  height: auto;
  line-height: 18px;
}
.data li:hover{
  text-decoration: underline;
}

  /* Lista icone parte sx */
.data .folder{
  display: inline-block;
  margin: 0 2px;
}
.folder li{
  display: inline-block;
  margin: 0 5px 5px 0;
  width: 25px;
}
.folder li a:hover{
  color: white;
}

/* Colonna CENTR footer */
.music-player{
  text-align: center;
  flex-basis: 40%;
  min-width: 180px;
  padding: 0 8px;
}
/* Lista comandi musica */
.music-player li{
  display: inline-block;
  margin: 0 4px;
  font-size: 20px;
  vertical-align: middle;
  transition: transform 0.2s;
}
.music-player li a{
  color: white;
}
.music-player li:hover {
  transform: scale(1.2);
}
  /* Bottone play */
.music-player #play{
  font-size: 30px;
  vertical-align: middle;
}

/* Barra minutaggio */
.loading-bar{
  width: 70%;
  max-width: 600px;
  margin: 0 10px;
  height: 5px;
  border-radius: 2.5px;
  background-color: grey;
  position: relative;
  vertical-align: middle;
  display: inline-block;
  cursor: pointer;
}
/* Barra minuti effettivi */
.minute-bar{
  width: 35%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #cecece;
  border-radius: 2.5px;
  transition: background-color 0.2s;
}
.loading-bar:hover .minute-bar{
  background-color: #adff2f;
}
/* Icona barra minuti effettivi */
.minute-bar i{
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 50%;
  right: -8px;
  transform: translate(0, -50%);
  transition: opacity 0.2s;
}
.loading-bar:hover .minute-bar i{
  visibility: visible;
  opacity: 1;
}

/* Colonna DX footer */
footer .options{
  flex-basis: 30%;
  text-align: right;
  min-width: 110px;
}
/* Barra colonna DX */
footer .options .loading-bar{
  width: 20%;
  max-width: 300px;
  margin: 0 2px;
}
/* Icone colonna DX */
footer .options i:not(.fa-circle){
  vertical-align: middle;
  margin-right: 10px;
  transition: transform 0.2s;
  color: white;
}
/* Icone volume */
footer .options i.fa-volume-up{
  margin-right: 5px;
}
footer .options i:hover:not(.fa-circle){
  transform: scale(1.2);
}

/* Proprietà footer che cambiano a Ypx */
@media all and (max-width: 767px) {
  .folder li{
    display: block;
    margin-bottom: 5px;
    margin-right: 0;
  }
  .folder li:last-child{
    margin-bottom: 0;
  }
  .data{
    min-width: 150px;
    font-size: 0.8em;
  }
  .data img{
    width: 45px;
  }
  .music-player .loading-bar{
    width: 50%;
  }
  footer i, .music-player{
    font-size: 0.8em;
  }
  footer .options .loading-bar{
    width: 30%;
  }
  footer .options i:not(.fa-circle){
    margin-right: 5px;
  }
}
